.bonuses {
  padding: 100px 10px;

  &__inner {
    margin: 0 auto;
    max-width: 1266px;
    width: 100%;
    min-height: 680px;
    background-color: #CCF4FF;
    border-radius: 10px;
    padding: 20px 0 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      grid-gap: 20px;
      grid-template-columns: 100%;
    }
  }

  &__info {
    max-width: 460px;
    padding-left: 75px;
  }

  &__emo-image {
    margin-top: 100px;
    width: 50px;
    height: 52px;
  }

  &__title {
    margin-top: 20px;
    margin-bottom: 35px;
  }

  &__text {

    span {
      display: block;
      font-weight: 700;
    }
  }

  &__image {
    width: clamp(320px, 48vw, 672px);
    position: relative;

    img {
      position: absolute;
    }
  }

  &__hand {
    position: relative;

    z-index: 1;

  }

  &__numbers {
    top: Min(20vw, 273px);
    left: 31%;
    width: Min(15vw, 228px);
    z-index: 7;
  }

  &__cubes {
    z-index: 10;
    width: 100%;
    height: auto;
    max-width: 58%;
    left: 6%;
    top: Min(13vw,30%);
  }
}
