.head {
  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__top-inner {
    max-width: 465px;
    padding: 75px 0 20px;
  }

  &__top-image {
    min-width: 549px;
    max-height: 440px;
  }

  &__bot {
    margin-top: 40px;
    padding: 0 10px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1290px;
    height: 147px;
    border: 1px solid #D5D3CD;
    border-radius: 10px;
  }

  &__item {
    text-align: center;
  }

  &__item-number {
    font-size: 32px;
    font-weight: 400;
    color: #358CD8;
    margin-bottom: 7px;
  }

  &__item-descr {
    font-size: 16px;
    color: #2F2D2C;
  }
}

