.missions {
  padding: 90px 10px;

  &__container {
    max-width: 1238px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
  }

  &__head {
    position: relative;
    height: 380px;
    max-width: 575px;
    display: flex;
    align-items: center;

    img {
      object-fit: cover;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 320px;
    }
  }

  &__title {
    position: relative;
    text-align: center;
    z-index: 5;
  }

  &__slider {
    margin-top: 20px;
    max-width: 1260px;


    // height: 315px;
    // max-width: 1160px;
    .swiper-pagination {
      background-color: #424140;
    }
  }

  &__slider-container {
    padding: 0 15px;
  }

  &__slider-wrapper {
    max-width: 1160px;
    height: 190px;
  }

  &__slide-image {
    width: 167px;
    height: 130px;
    text-align: center;
  }


  &__btn {
    margin-top: 70px;
  }

}
